
<!--This is the view holding the categories details-->
<!--This section holds the sidebar with admin functions and displays the categories in a table-->
<div class="row w-100 ml-0">

  <div class="col-md-12">
      <br/>
      <div class="row ml-0">
          <form class="form-inline" (ngSubmit)="addNewCategory()">
              
              <div class="form-group">
                  <div class="col-md-5 pl-0">
                      <input type="text"
                              class="form-control"
                              name="name" 
                              value=""
                              #name
                              [(ngModel)]="category.name"
                              placeholder="Category title"
                              required autofocus>

                  </div>
              </div>

              <div class="form-group">
                  <div class="col-md-5">
                      <input type="text" 
                              class="form-control"
                              name="slug" 
                              #slug
                              value=""
                              [(ngModel)]="category.slug"
                              placeholder="Category slug"
                              required>

                  </div>
              </div>

              <div class="form-group">
                      <button type="submit" class="btn btn-warning text-bold">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                          &nbsp;Add category
                      </button>
              </div>
          </form>
      </div>

      <table class="table table-hover ml-15">
        <thead>
          <tr>
            <th class="text-bold">Category Title</th>
            <th>Category slug</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="categories?.length">

          <tr *ngFor="let category of categories; index as i; trackBy: categoryListTracker">
            <td class="editRow{{ i }} main align-middle">{{ category.name }}</td>
            <td class="editRow{{ i }} main align-middle">{{ category.slug }}</td>
            <td class="editRow{{ i }} temp d-none align-middle">
              <input class='form-control' name='categoryName{{ i }}' 
                      [(ngModel)]='editingCategory.name'/>
            </td>
            <td class="editRow{{ i }} temp d-none align-middle">
              <input class='form-control' name='categorySlug{{ i }}' 
                      [(ngModel)]='editingCategory.slug'/>
            </td>
            <td class="editRow{{ i }} main align-middle">
              <button class="btn btn-primary"
                      (click)="editCategory(category, i)">
                <i class="fa fa-pencil-square" aria-hidden="true"></i>
                  &nbsp;&nbsp;Edit
              </button>
            </td>
            <td class="editRow{{ i }} temp d-none align-middle">
                <button class="btn btn-info"
                        (click)="updateCategory()">
                  <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    &nbsp;&nbsp;Update
                </button>
              </td>
          </tr>


        <tr *ngIf="categories.length == 0">
            <td colspan="3">
              <div class="panel panel-default">
              <div class="panel-body">
                *You haven't created any blog category.
              </div>
              </div>
            </td>
          </tr>

        </tbody>

      </table>

  </div>

</div>
