<div class="row d-flex justify-content-center">
    <div class="col-md-11 col-sm-12">
        <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <p class="h4 text-center mb-4">Sign Up</p>

             <!-- Material input email -->
             <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                <input type="text" 
                        id="username" 
                        class="form-control site-text-color input-field-border"
                        #usernameField
                        (focus)="usernameActive.classList.add('active')"
                        (blur)="usernameField.value == '' ? 
                                    usernameActive.classList.remove('active') : ''
                                "
                        [(ngModel)]="user.username" 
                        name="username"
                        required>
                <label for="username" #usernameActive>Your Username</label>
            </div>
            <div class="md-form" *ngIf="usernameField.touched && (usernameField.value === '')">
                <span class="alert alert-danger">Username is required</span>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                <input type="email" 
                        id="materialFormRegisterConfirmEx" 
                        class="form-control site-text-color"
                        #emailField
                        (focus)="emailActive.classList.add('active')"
                        (blur)="emailField.value == '' ? 
                                    emailActive.classList.remove('active') : ''
                                "
                        [(ngModel)]="user.email" 
                        name="email"
                        required>
                <label for="materialFormRegisterConfirmEx" #emailActive>Your email</label>
            </div>
            <div class="md-form" *ngIf="emailField.touched && (emailField.value === '')">
                <span class="alert alert-danger">Email field is required</span>
            </div>

            <!-- Input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" 
                        id="materialFormRegisterPasswordEx" 
                        class="form-control site-text-color"
                        #passwordField
                        (focus)="passwordActive.classList.add('active')"
                        (blur)="passwordField.value == '' ? 
                                    passwordActive.classList.remove('active') : ''
                                "
                        [(ngModel)]="user.password"
                        name="password"
                        required>
                <label for="materialFormRegisterPasswordEx" #passwordActive>Your password</label>
            </div>
            <div class="md-form" *ngIf="passwordField.touched && (passwordField.value === '')">
                <span class="alert alert-danger">Password field is required</span>
            </div>

            <!-- Input confirm password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" 
                        id="confirmPassword" 
                        class="form-control site-text-color"
                        #confirmPasswordField
                        (focus)="confirmPasswordActive.classList.add('active')"
                        (blur)="confirmPasswordField.value == '' ? 
                                    confirmPasswordActive.classList.remove('active') : ''
                                "
                        [(ngModel)]="user.confirmPassword"
                        name="confirmPassword"
                        required>
                <label for="confirmPassword" #confirmPasswordActive>Confirm password</label>
            </div>
            <div class="md-form" 
                *ngIf="passwordField.touched && (passwordField.value !== confirmPasswordField.value)">
                <span class="alert alert-danger">Passwords do not match</span>
            </div>


            <div class="row d-flex justify-content-center">
                <div class="col-12d-flex justify-content-center">
                    <button class="btn btn-success d-flex align-items-center justify-content-center text-center" 
                            type="submit" 
                            [disabled]="userForm.form.invalid" > 
                            {{ !signingUp ? 'Sign Up' : 'Registering user' }}

                            <!-- Loading Icon displayed while verifying login -->
                            <app-loading-icon></app-loading-icon>

                     </button>
                </div>
                <div class="col-12 mt-5 text-center">
                    <!-- Facebook login button and Google -->
                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-md-12 px-0 justify-content-center">
                                <strong>Or Sign in using</strong>
                        </div>
                        
                        <div class="col-md-12 justify-content-center d-flex">
                            <!-- Facebook login button -->
                            <button type="button" class="btn btn-primary" (click)="socialSignIn('facebook')">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </button>

                            <!-- Google login button -->
                            <button type="button" class="btn btn-danger" (click)="socialSignIn('google')">
                                <i class="fa fa-google"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <!-- <div class="d-flex align-items-center justify-content-center text-center"
             *ngIf="loggingIn"> -->
            
            <!-- Loading Icon displayed while verifying login -->
            <!-- <app-loading-icon [height]="loadingIconHeight"></app-loading-icon> -->

        <!-- </div> -->
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>