<div class="row" style="margin-top:2%;">
  <div class="col-md-2" style="margin-left:3%;font-size:16px;">
    <a class="text-bold" style="font-weight:bolder;"><i class="fa fa-eye" aria-hidden="true"></i>
      &nbsp; View Blogs</a>
  </div>
  <div class="col-md-3 pull-left">
    <a [routerLink]="['posts']">
      <button class="btn btn-primary">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp; New Post
      </button>
    </a>
  </div>
</div>
<br/>

<div class="sidebar col-md-2 pull-left">
  <aside style="height:80%;position:fixed;overflow:scroll;overflow-x:hidden;" class="col-md-2">
      <li class="dropdown" style="list-style:none;">

        <a href="#" class="dropdown-toggle text-bold"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false" style="font-size:16px;">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            Posts <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li><a href="#">All</a></li>
        </ul>
      </li>
  </aside>
</div>