<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

  </head>
 
  <style>
    body {
      padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
      nav .container{
        align-items: center
      }
    }
  </style>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">My Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-default" href="#">Logout
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row" *ngIf="blogPosts?.length > 0">

        <!-- Post Content Column -->
        <div class="col-lg-7 offset-lg-1 col-sm-12 col-md-12 mb-4" 
             *ngFor="let blogPost of blogPosts; index as i;" 
             id="post{{ blogPost._id }}">

        <div class="card p-3">
          <!-- <div class="d-flex align-items-center justify-content-between"> -->
            <!-- Title -->
            <h1 class="mt">{{ blogPost.title }}</h1>

            <!-- Author -->
            <p class="lead my-0 d-flex align-items-center justify-content-between">
         
              <!-- Date/Time -->
              <span>{{ blogPost.createdAt?.split('T')[0] | amDateFormat:'LL' }}</span>
              
              <span 
                  class="text-bold site-text-color">
                  by <strong>Qasim</strong>
              </span>

            </p>
          <!-- </div> -->


          <!-- Post Content -->
            <div class="card-body" 
                  #postContainer 
                  [innerHTML] = "blogPost.content | truncate">
            </div>

          <p>
            <button 
                class="btn btn-warning btn-sm pull-right" 
                (click)="displayFullPost($event, postContainer, blogPost.content)">
                <strong>Read more</strong>
            </button>
          </p>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form (ngSubmit)="$event.preventDefault();">
                
                <div class="form-group">
                  
                  <textarea [(ngModel)]="newPostComment"
                            (focus) = "broadcastUserCommenting(blogPost._id)"
                            (blur) = "removeUserCommentingBroadcast(blogPost._id)"
                            class="form-control user-comment"
                            id="newPostComment-{{ blogPost._id }}" 
                            name="newPostComment"
                            rows="3">
                  </textarea>

                </div>

                <button type="button" class="btn btn-primary" (click)="submitComment(blogPost._id)">Comment</button>

              </form>

              <!-- Commenting notification -->
              <div class="commenting-notification d-none">
                <span class="text-grey">Someone is typing a comment</span>
              </div>
            </div>
          </div>


          <!-- Comment with nested comments -->
          <div class="d-flex" *ngIf="blogPostsComments?.length > 0">
            <div class="row">
              <div class="media mb-4 col-12"
                    *ngFor="let comment of getBlogPostComments(blogPost._id);
                            index as i; 
                            trackBy: itemsListTrackerFunction">
                            
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="user's image">
                <div class="media-body">
                  <h5 class="mt-0"> {{ comment.user?.name }}</h5>
                  {{ comment.comment }}                  
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row" *ngIf="blogCategories?.length > 0">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li *ngFor="let blogCategory of blogCategories">
                      <a [routerLink]="['categories', blogCategory.slug ]">
                        {{ blogCategory.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <!-- <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Qasim AbdulKadir projects</p>
      </div>
      <!-- /.container -->
    </footer>

  </body>

</html>
