
  <div class="row mx-0">
    <div class="col-12 justify-content-start">

      <!--This section holds the post title field, update and preview buttton -->
      <div class="row py-4 align-items-center">
        <div class="col-md-1 col-sm-4 ml-0 pt-1">
             <h4>Post:</h4>
        </div>

        <!-- Post title -->
        <div class="col-md-5 col-sm-8 pl-0 ml-1">
          <input class="form-control pull-left pb-0" 
                  type="text"
                  id="title" 
                  name="title" 
                  #title
                  [(ngModel)]="form.title" 
                  placeholder="Post title" 
                  required/>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="media">
            <div class="media-body" style="padding-top:4%;">
               <!-- Write either editing or posting -->  <span class="text-bold">{{ getUser()?.name }}</span> 
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-8 d-flex justify-content-end">

          <button class="btn btn-success" id="save_post_button"
                  (click)="savePost()"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i>Save
            
            <!-- Write either updating or save -->
          </button>
        </div><!--Buttons for saving and previewing posts are placed here-->
      </div>

      <div class="row ">
          <div class="col-md-9 col-sm-12 mb-4">
            <!--This section holds the categories dropdown and featured section-->
            <div class="row mb-4">
              
              <!-- Categories dropdown -->
              <div class="col-sm-12 col-md-6 d-flex justify-content-start align-items-center">
                <select id="category_id"
                        *ngIf="categories" 
                        name="category" 
                        #category 
                        (change)="setPostCategory($event)"
                        class="form-control my-0" 
                        required>

                  <!--This sets the value for the first option to the current category of the post being edited-->
                  <option *ngFor="let category of categories" value="{{ category.name }}">
                    
                          {{ category.name }}
                        
                  </option>

                  
                </select>

                <select *ngIf="!categories" class="form-control my-0">
                    <option>No categories found</option>
                </select>
              </div>

              <!-- Holds the state of the featured star check icon -->
              <input id="featured" 
                      [(ngModel)]="form.featured" 
                      #featured 
                      hidden 
                      required/>

              <!-- Holds the featured div -->
              <div class="col-sm-12 col-md-6 featured-tab d-flex justify-content-start align-items-center">
                <div class="row h-100">
                  <div class="col-md-4 col-sm-12 d-flex justify-content-start align-items-center">
                        <i class="fa fa-thumb-tack mr-2" aria-hidden="true"></i>Featured
                  </div>
                  <div class="col-md-8 col-sm-12 d-flex justify-content-start align-items-center featured-check">
                      <i [ngClass]="{ 
                                    'fa fa-1x': true,
                                    'fa-star-o': !form.featured,
                                    'fa-star': form.featured
                                  }" 
                          (click)="togglePostFeatured()"
                          id="postFeatured">
                      </i>&nbsp;&nbsp;  Display post at top
                  </div>
                  
                  </div>
              </div>
            </div>

            <!-- Description and status field -->
            <div class="row">

              <!-- Description field -->
              <div class="col-sm-12 col-md-6 d-flex justify-content-start align-items-center">
                <textarea placeholder="Description"
                          style="text-indent:1px;"
                          class="form-control my-0 h-100"
                          rows="3"
                          name="description"
                          #description
                          [(ngModel)]="form.description"
                          id="description"
                          required>
                </textarea>
              </div>
  
              <!-- Status field -->
              <div class="col-sm-12 col-md-6 status-tab d-flex justify-content-start align-items-center">
                  <div class="row w-100 h-100 align-items-center">
                    
                    <!-- Status title  -->
                    <div class="col-md-4 col-sm-12 d-flex justify-content-start align-items-center">
                        <i class="fa fa-bookmark mr-3" aria-hidden="true"></i>Status
                    </div>

                    <!-- Status options -->
                    <div class="col-md-8 col-sm-12 status-select h-100 d-flex justify-content-start align-items-center">
                          <div class="row justify-content-start d-block" style="flex-wrap: nowrap;">
                            <div class="col-md-12 col-sm-12 d-flex align-items-center mb-3">
                              <input type="radio" 
                                    name="status" 
                                    [(ngModel)]="form.status" 
                                    #status 
                                    class="form-control status-options mb-0"
                                    value="draft" 
                                    checked="checked" /> <span>Draft</span>
                            </div>
                            <div class="col-md-12 col-sm-12 d-flex align-items-center">
                                <input type="radio" 
                                name="status" 
                                [(ngModel)]="form.status" 
                                class="form-control status-options mb-0"
                                value="publish" /> <span>Publish</span>
                            </div>
                          </div>
                    </div>
                  </div>
              </div>
  
               <!--This section holds the editor-->
               <div class="col-12 pr-0" style="padding-top:2%; padding-left: 15px;">
                
                <angular-tinymce 
                    [(ngModel)]='form.content'
                    [settings]='tinymceConfig'>
                </angular-tinymce>

              </div>
            </div>
          </div>

          <!--Sidebar is placed here with some tweaking functionalities for the admin-->
        <div class="col-md-3 col-sm-12 mx-0">
            <aside class="sidebar">
  
              <div style="border-bottom:1px solid #DBDBDB;" class="py-1">
  
                <h3 class="d-flex justify-content-center"><i class="fa fa-tags mr-2" aria-hidden="true"></i>Tags</h3>
              </div>

              <div class="row ml-1" *ngIf="tags?.length > 0">
                <div class="col-12 d-flex py-1" *ngFor="let tag of tags">
                  <input type = "checkbox"
                          name ="{{ tag.name }}"
                          (change) = "toggleTag(tag)" 
                          checked = "{{ checkIfTagExists(tag) }}"
                          class="mr-2"
                          style="margin-top: 0px !important; vertical-align: -1px"/> 
                          {{ tag.name }}
                </div>
              </div>

              <div *ngIf="!tags?.length > 0"  class="row">
                *No tags available.
              </div>
  
            </aside>
  
            <!--This sets the content of the blog post to edit in an hidden div and waits until the editor is loaded-->
            <div style="display:none;" id="editPostContent">
              <!-- @if(isset($blog_post))
                {!! $blog_post->content !!}
              @endif -->
            </div>
            <!-- <div id="editPostId" style="display:none;">{{ isset($blog_post) ? $blog_post->id:'' }}</div> -->
          </div>
      </div>

        
      </div>

</div><!--Container is closed-->