
<!--This is the view holding the categories details-->
<!--This section holds the sidebar with admin functions and displays the categories in a table-->
<div class="row w-100">

    <div class="col-md-12">
      <br/>
        <div class="row">
            <form class="form-inline" (ngSubmit)="addNewTag()">
                
                <div class="form-group">
                    <div class="col-md-5 ml-15">
                        <input id="tag_name" 
                                type="text"
                                class="form-control"
                                name="name" 
                                value=""
                                #name
                                [(ngModel)]="tag.name"
                                placeholder="Tag title"
                                required 
                                autofocus>
  
                    </div>
                </div>
  
                <div class="form-group">
                    <div class="col-md-5">
                        <input id="tag_slug" 
                                type="text" 
                                class="form-control"
                                name="slug" 
                                #slug
                                value=""
                                [(ngModel)]="tag.slug"
                                placeholder="Tag slug"
                                required>
  
                    </div>
                </div>
  
                <div class="form-group">
                        <button type="submit" class="btn btn-warning text-bold">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            &nbsp;Add Tag
                        </button>
                </div>
            </form>
        </div>
  
        <table class="table table-hover" style="margin-left: 15px;">
          <thead>
            <tr>
              <th>Tag Title</th>
              <th>Tag slug</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="tags?.length > 0">
          
  
            <tr *ngFor="let tag of tags; index as i; trackBy: tagListTracker">
                <td class="editRow{{ i }} main">{{ tag.name }}</td>
                <td class="editRow{{ i }} main">{{ tag.slug }}</td>
                <td class="editRow{{ i }} temp d-none">
                  <input class='form-control' name='tagName{{ i }}' 
                          [(ngModel)]='editingTag.name'/>
                </td>
                <td class="editRow{{ i }} temp d-none">
                  <input class='form-control' name='tagSlug{{ i }}' 
                          [(ngModel)]='editingTag.slug'/>
                </td>
                <td class="editRow{{ i }} main">
                  <button class="btn btn-primary"
                          (click)="editTag(tag, i)">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                      &nbsp;&nbsp;Edit
                  </button>
                </td>
                <td class="editRow{{ i }} temp d-none">
                    <button class="btn btn-info"
                            (click)="updateTag()">
                      <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        &nbsp;&nbsp;Update
                    </button>
                  </td>
            </tr>
  
  
          <tr *ngIf="tags.length == 0">
              <td colspan="3">
                <div class="panel panel-default">
                <div class="panel-body">
                  *You haven't created any blog tags.
                </div>
                </div>
              </td>
            </tr>
  
          </tbody>
  
        </table>
  
    </div>
  
  </div>
  